<div class="project-selector">
  <div class="project-selector-inner">
    <mat-icon class="project-icon">settings</mat-icon>
    <input
      type="text"
      class="project-input"
      [placeholder]="projectName"
      [formControl]="searchResearchField"
      [matAutocomplete]="autoProject"
    />
    @if (searchResearchField.value?.id && searchResearchField.value.id !== 'all') {
      <button
        type="button"
        class="project-clear-btn"
        aria-label="Réinitialiser le projet"
        (click)="clearSelection()"
      >
        ✕
      </button>
    }
  </div>

  <mat-autocomplete
    #autoProject="matAutocomplete"
    [displayWith]="displayResearchField"
    (optionSelected)="onProjectSelected($event.option.value)"
  >
      @for (researchField of filteredResearchFields$ | async) {
        <mat-option [value]="researchField">
          <span>{{ researchField.name }}</span>
          @if (researchField.description) {
            <span class="project-description">
              {{ researchField.description }}
            </span>
          }
        </mat-option>
      }
  </mat-autocomplete>
</div>
