<div class="cardBackground" [ngClass]="isList ? 'show-division' : 'hide-division'">
  @if (isSearch) {
    <div class="searchFormPadding">
      <mat-form-field appearance="outline">
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
      </mat-form-field>
      <span>&nbsp;&nbsp;&nbsp;{{ list.length }}</span>
    </div>
  }

  @if (list.length >= 10) {
    <cdk-virtual-scroll-viewport
      [itemSize]="rowHeight"
      class="virtual-scroll-viewport"
      [style.height.px]="getViewportHeightPx(list.length)"
    >
      @for (L of list; track L.item.id) {
        @if (customRowTemplate) {
          <ng-container *ngTemplateOutlet="customRowTemplate; context: { $implicit: L }"></ng-container>
        }
        <ng-template #defaultRow>
          <div class="sparql-div statementStyle">
            <a class="sparql-link" [routerLink]="['/item', L.item?.id]" (click)="$event.stopPropagation()">
              {{ L.itemLabel?.value
              }}@if (L.itemDescription) {<span class="sparql-description">, {{ L.itemDescription.value }}</span>}
            </a>
            @if (L.year) {<span>, {{ L.year.value }}</span>}
          </div>
        </ng-template>
      }
    </cdk-virtual-scroll-viewport>
  }
  <ng-template #nonVirtualList>
    <div class="non-virtual-list">
      @for (L of list; track L.item.id) {
        @if (customRowTemplate) {
          <ng-container *ngTemplateOutlet="customRowTemplate; context: { $implicit: L }"></ng-container>
        }
        <ng-template #defaultRow2>
          <div class="sparql-div statementStyle">
            <a class="sparql-link" [routerLink]="['/item', L.item?.id]" (click)="$event.stopPropagation()">
              {{ L.itemLabel?.value
              }}@if (L.itemDescription) {<span class="sparql-description">, {{ L.itemDescription.value }}</span>}
            </a>
            @if (L.year) {<span>, {{ L.year.value }}</span>}
          </div>
        </ng-template>
      }
    </div>
  </ng-template>
  <span>
    <button
      mat-icon-button
      color="primary"
      class="internalLink"
      (click)="onClickDownload(langService?.csv)"
    >
      <mat-icon color="primary" [inline]="true">download</mat-icon></button
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>
</div>
